# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\comta\Downloads\ATS_TP-main\ATS_TP-main\Tarefa4\New\54\54\Grupo08_POO2020\TP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
